<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @tipo_seguimiento.nombre %>
</p>

<%= link_to 'Edit', edit_tipo_seguimiento_path(@tipo_seguimiento) %> |
<%= link_to 'Back', tipo_seguimientos_path %>
